.navbar-brand {
  padding: 5px 15px;
}

.list-group-item {
  padding: 12px 15px;
}

.btn {
  padding: 3px 15px;
}

.btn-separation-left {
	margin-left:5px;
}

.button-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

input.ng-invalid {
	border: rgba(215, 44, 44, 0.6) solid 1px;
}

.brandTittle {
	margin-left: 10px;
}

nav.navbar.navbar-default {
  height: 10em;
}

nav img {
  height: 7em;
}

.navbar-brand>img {
  display: inline;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}