<div class="slider">
    <ul class="slides">
      <li>
        <img src="img/sillas/silla1.JPG"> <!-- random image -->
        <div class="caption center-align blue-grey darken-2">
          <h3>Sillas</h3>
          <h5 class="light blue-grey darken-2">Accede a nuestro catálogo de sillas.</h5>
        </div>
      </li>
      <li>
        <img src="img/mesas/mesa1.JPG"> <!-- random image -->
        <div class="caption center-align blue-grey darken-2">
          <h3>Mesas</h3>
          <h5 class="light blue-grey darken-2">Accede a nuestro catálogo de mesas.</h5>
        </div>
      </li>
      <li>
        <img src="img/sofas/sofa1.JPG"> <!-- random image -->
        <div class="caption center-align blue-grey darken-2">
          <h3>Sofás</h3>
          <h5 class="light blue-grey darken-2">Accede a nuestro catálogo de sofás.</h5>
        </div>
      </li>
      
    </ul>
  </div>


<script type="text/javascript">
	  $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>
